body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(https://pbs.twimg.com/media/B1TGBQNCEAAEDCz.jpg:large);
  /*background-color: white;*/
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.purple{
  /*border:10px solid purple;*/
  border-radius:10px;
  position:absolute;
}

#lady {
  height: 200px;
  width: 200px;
}

#annoying {
  border-radius: 10px;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 10px;
  width: 50%;
  margin:5px;
  position: absolute;
  top: 30px;
  left: 300px;
  text-align: center;
}

#banner {
  margin: 0px;
  color: black; 
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
}

















